<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Dane użytkownika</h1>

<ul>
	<li><strong>Imię:</strong> <%= uzytkownik.imie %></li>
	<li><strong>Nazwisko:</strong> <%= uzytkownik.nazwisko %></li>
	<li><strong>Login:</strong> <%= uzytkownik.login %></li>
	<li><strong>Miasto:</strong> <%= uzytkownik.miasto %></li>
</ul>
</body>
</html>